.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.menus button {
    margin: 5px;
    border: none;
    background: none;
}

.menus button:hover {
    background-color:bisque;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 2px solid black;
    padding: 5px 0;
}
